<h1>Signup Page</h1>

<%= bootstrap_form_for @runner do |f| %>
<%= f.text_field :name %><br>
<%= f.number_field :age %><br>
<%= f.number_field :height %><br>
<%= f.number_field :weight %><br>
<%= f.number_field :shoe_size, min:1, step:0.5 %><br>
<%= f.submit %>
<% end %>