<h1><%= @runner.name %></h1>
<h3><%= link_to "Add a Run", new_run_path(@runner) %></h3>
<h3><%= link_to "Add a Shoe", new_runner_shoe_path %></h3>

<h2>Stats:</h2>
<ul>
<li><%= "Runs: #{@runner.total_runs}" %></li>
<li><%= "Total Miles: #{@runner.get_miles}" %>
</ul>

<h2>Shoes:</h2>
<% if @runner.runner_shoes.empty? %>
<p>You haven't added any shoes yet. <%=link_to "Click here", new_runner_shoe_path %> to add a pair.</p>
<% end %>

<div class="card-deck">
    <% @runner.runner_shoes.each do |runner_shoe| %>
        <div class="card" style="width: 18rem;">
            <img src="https://www.famousfootwear.com/productimages/shoes_ib95364.jpg?trim.threshold=105&width=630&height=480&paddingWidth=60" class="card-img-top" alt="...">
            <%= link_to runner_shoe.brand_with_name, runner_shoe_path(runner_shoe), class: "btn btn-dark" %>
            <div class="card-body">
                <p class="card-text">
                    <ul>
                        <li># of runs: <%= runner_shoe.runs.count %></li>
                        <li>Miles run: <%= runner_shoe.get_miles %></li>
                    </ul>
                </p>
            </div>
        </div>
    <% end %>
</div>