<h1>New Run</h1>

<%= bootstrap_form_for @run do |f| %>
<%= f.hidden_field :runner_id, :value => @runner.id%>
<%= f.collection_select :runner_shoe_id, @runner.runner_shoes, :id, :brand_with_name, include_blank: "" %>
<%= f.text_field :location %>
<%= f.datetime_select :date, ampm: true %>
<%= f.number_field :distance, step: 0.01%>
<%= f.number_field :time %>
<%= f.submit %>
<% end %>