<h1>Add a Shoe</h1>

<%= bootstrap_form_for @runner_shoe do |f| %>
    <% if logged_in_admin? %>
        <%= f.collection_select :runner_id, Runner.all, :id, :name %>
    <% else %>
        <%= f.hidden_field :runner_id, :value => current_user.profileable.id%>
    <% end %>
<%= f.collection_select :shoe_id, Shoe.sorted_by_brand, :id, :brand_with_name, include_blank: "" %>
<%= f.submit "Add Shoe" %>
<% end %>