<!DOCTYPE html>
<html>
  <head>
    <title>RailsRunner</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= @homepage ? 'homepage' : ''%>">
    <header>
      <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/"><%= image_tag("logo.png", size:'150x40') %></a>
        <form class="form-inline">
          <% if logged_in? %>
            <a class="btn btn-outline-light" href=<%= logout_path %> role="button">Logout</a>
          <% else %>
            <a class="btn btn-outline-light" href=<%= new_runner_path %> role="button">Signup</a>
            <div style="padding-left: 10px;">
            <a class="btn btn-outline-light" href= <%= login_path %> role="button">Login</a>
          <% end %>
          </div>
        </form>
      </nav>
    </header>
    <% if logged_in? %>
    <div class="secondary_navbar">
        <% if logged_in_admin? %>
          <div class="navbar navbar-light bg-light">
            <ul class="nav">
              <li class="nav-item"><%= link_to "Runners", runners_path, class: "nav-link" %></li>
              <li class="nav-item"><%= link_to "Shoes", shoes_path, class: "nav-link" %></li>
              <li class="nav-item"><%= link_to "Brands", brands_path, class: "nav-link" %></li>
              <li class="nav-item"><%= link_to "Runs", runs_path, class: "nav-link" %></li>
            </ul>
          </div>
        <% end %>
        <% if logged_in_runner? %>
          <div class="navbar navbar-light bg-light">
            <ul class="nav">
              <li class="nav-item"><%= link_to current_user.profileable.name, runner_path(current_user.profileable.id), class: "nav-link" %></li>
              <li class="nav-item"><%= link_to "My Runs", my_runs_path(current_user.profileable.id), class: "nav-link" %></li>
              <li class="nav-item"><%= link_to "My Shoes", my_shoes_path(current_user.profileable.id), class: "nav-link" %></li>
              <li class="nav-item"><%= link_to "New Run", new_run_path, class: "nav-link" %></li>
              <li class="nav-item"><%= link_to "New Shoes", new_runner_shoe_path, class: "nav-link" %></li>
              <% if controller_name == "runners" && action_name == "show" %>
                <li class="nav-item"><%= link_to "Edit Profile", edit_runner_path(current_user.profileable.id), class: "nav-link" %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
    </div>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
    <footer class="page-footer font-small footer-light pt-4">
      <!-- Footer Links -->
      <div class="container-fluid text-center text-md-left">
      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
          <!-- Content -->
          <img src='/assets/logo-ed759e7e8e96637d799d8f80541a0354e5131652366a6e48f9f2ee6c22283f37.png' class='footer_logo'>
          <%# <%= image_tag("logo.png")  %><br><br>
          <p style="font-style: italic; width: 45%">We may not know how to do things the right way, but we're pretty good at doing them the wrong way!</p>
        </div>
        <!-- Grid column -->
        <hr class="clearfix w-100 d-md-none pb-3">
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
          <!-- Links -->
          <h5 class="text-uppercase">Brands</h5>
          <ul class="list-unstyled">
            <li><%= link_to 'Add your brand', new_brand_path, class: 'footer-link' %></li>
            <li><a href="#!" class="footer-link">Support</a></li>
            <li><%= link_to "Terms and conditions", terms_and_conditions_path, class: 'footer-link' %></li>
            <li><%= link_to "Privacy Policy", privacy_policy_path, class: 'footer-link' %></li>
          </ul>
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
          <!-- Links -->
          <h5 class="text-uppercase">Users</h5>
          <ul class="list-unstyled">
          <li><a href="#!" class="footer-link">About us</a></li>
          <li><a href="#!" class="footer-link">What is Rails Runner?</a></li>
          <li><a href="#!" class="footer-link">Features</a></li>
          <li><a href="#!" class="footer-link">Contact Us</a></li>
        </ul>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright: Andy Aguilar and Michael Jester
  </div>
  <!-- Copyright -->
</footer>
  </body>
</html>
