<!DOCTYPE html>
<html>
  <head>
    <title>RailsRunner</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= @homepage ? 'homepage' : ''%>">
    <header>
      <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/"><%= image_tag("logo.png", size:'221x50') %></a>
        <!-- if logged_in_admin? 
          <div class="navbar navbar-default">
            <ul class="nav">
              <li class="nav-item"><%= link_to "Runners", runners_path, class: "nav-link" %><li>
              <li class="nav-item"><%= link_to "Shoes", shoes_path, class: "nav-link" %><li>
              <li class="nav-item"><%= link_to "Brands", brands_path, class: "nav-link" %><li>
              <li class="nav-item"><%= link_to "Runs", runs_path, class: "nav-link" %><li>
            </ul>
          </div>
        end -->
        <form class="form-inline">
          <% if logged_in? %>
            <a class="btn btn-outline-light" href=<%= logout_path %> role="button">Logout</a>
          <% else %>
            <a class="btn btn-outline-light" href=<%= new_runner_path %> role="button">Signup</a>
            <div style="padding-left: 10px;">
            <a class="btn btn-outline-light" href= <%= login_path %> role="button">Login</a>
          <% end %>
          </div>
        </form>
      </nav>
    </header>
    <% if logged_in? %>
    <div class="secondary_navbar">
      <nav class="navbar navbar-light bg-light">
        <% if logged_in_admin? %>
          <div class="navbar navbar-default">
            <ul class="nav">
              <li class="nav-item"><%= link_to "Runners", runners_path, class: "nav-link" %><li>
              <li class="nav-item"><%= link_to "Shoes", shoes_path, class: "nav-link" %><li>
              <li class="nav-item"><%= link_to "Brands", brands_path, class: "nav-link" %><li>
              <li class="nav-item"><%= link_to "Runs", runs_path, class: "nav-link" %><li>
            </ul>
          </div>
        <% end %>
      </nav>
    </div>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
    <footer class="page-footer font-small footer-light pt-4">
      <!-- Footer Links -->
      <div class="container-fluid text-center text-md-left">
      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
          <!-- Content -->
          <%= image_tag("logo.png", size:'444x100') %>
          <p style="font-style: italic;">We may not know how to do things the right way, but we're pretty good at doing them the wrong way!</p>
        </div>
        <!-- Grid column -->
        <hr class="clearfix w-100 d-md-none pb-3">
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
          <!-- Links -->
          <h5 class="text-uppercase">Brands</h5>
          <ul class="list-unstyled">
            <li><%= link_to 'Add your brand', new_brand_path, class: 'footer-link' %></li>
            <li><a href="#!" class="footer-link">Support</a></li>
            <li><a href="#!" class="footer-link">Terms and conditions</a></li>
            <li><a href="#!" class="footer-link">Privacy Policy</a></li>
          </ul>
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
          <!-- Links -->
          <h5 class="text-uppercase">Users</h5>
          <ul class="list-unstyled">
          <li><a href="#!" class="footer-link">About us</a></li>
          <li><a href="#!" class="footer-link">What is Rails Runner?</a></li>
          <li><a href="#!" class="footer-link">Features</a></li>
          <li><a href="#!" class="footer-link">Contact Us</a></li>
        </ul>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright: Andy Aguilar and Michael Jester
  </div>
  <!-- Copyright -->
</footer>
  </body>
</html>
