<!DOCTYPE html>
<html>
  <head>
    <title>RailsRunner</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Rails Runner</a>
        <div class="navbar navbar-default">
          <ul class="nav">
            <li class="nav-item"><%= link_to "Runners", runners_path, class: "nav-link" %><li>
            <li class="nav-item"><%= link_to "Shoes", shoes_path, class: "nav-link" %><li>
            <li class="nav-item"><%= link_to "Bransds", brands_path, class: "nav-link" %><li>
            <li class="nav-item"><%= link_to "Runs", runs_path, class: "nav-link" %><li>
          </ul>
        </div>
        <form class="form-inline">
          <a class="btn btn-outline-light" href=<%= new_runner_path %> role="button">Signup</a>
          <div style="padding-left: 10px;">
          <a class="btn btn-outline-light" href= "/" role="button">Login</a>
          </div>
        </form>
      </nav>
    </header>
    <div class="container">
      <%= yield %>
    </div>
    <footer class="page-footer font-small footer-light pt-4">
      <!-- Footer Links -->
      <div class="container-fluid text-center text-md-left">
      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
          <!-- Content -->
          <h5 class="text-uppercase">Footer Content</h5>
          <p>Here you can use rows and columns to organize your footer content.</p>
        </div>
        <!-- Grid column -->
        <hr class="clearfix w-100 d-md-none pb-3">
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
          <!-- Links -->
          <h5 class="text-uppercase">Brands</h5>
          <ul class="list-unstyled">
            <li><a href="#!" class="footer-link">Add your brand</a></li>
            <li><a href="#!" class="footer-link">Support</a></li>
            <li><a href="#!" class="footer-link">Terms and conditions</a></li>
            <li><a href="#!" class="footer-link">Privacy Policy</a></li>
          </ul>
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
          <!-- Links -->
          <h5 class="text-uppercase">Users</h5>
          <ul class="list-unstyled">
          <li><a href="#!" class="footer-link">About us</a></li>
          <li><a href="#!" class="footer-link">What is Rails Runner?</a></li>
          <li><a href="#!" class="footer-link">Features</a></li>
          <li><a href="#!" class="footer-link">Contact Us</a></li>
        </ul>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright: Andy Aguilar and Michael Jester
  </div>
  <!-- Copyright -->
</footer>
  </body>
</html>
