<!DOCTYPE html>
<html>
  <head>
    <title>RailsRunner</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Rails Runner</a>
      <%= link_to "Runners", runners_path %>
      <%= link_to "Shoes", shoes_path %>
      <%= link_to "Brands", brands_path %>
      <%= link_to "Runs", runs_path %>
      <form class="form-inline">
        <button class="btn btn-outline-light" type="button">Sign Up</button>
        <div style="padding-left: 10px;">
          <button class="btn btn-outline-light" type="button">Login</button>
        </div>
      </form>
    </nav>
    <%= yield %>
  </body>
</html>
