<!DOCTYPE html>
<html>
  <head>
    <title>RailsRunner</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Rails Runner</a>
        <div class="navbar navbar-default">
          <ul class="nav">
            <li class="nav-item"><%= link_to "Runners", runners_path, class: "nav-link" %><li>
            <li class="nav-item"><%= link_to "Shoes", shoes_path, class: "nav-link" %><li>
            <li class="nav-item"><%= link_to "Brands", brands_path, class: "nav-link" %><li>
            <li class="nav-item"><%= link_to "Runs", runs_path, class: "nav-link" %><li>
          </ul>
        </div>
        <form class="form-inline">
          <a class="btn btn-outline-light" href=<%= new_runner_path %> role="button">Signup</a>
          <div style="padding-left: 10px;">
          <a class="btn btn-outline-light" href= "/" role="button">Login</a>
          </div>
        </form>
      </nav>
    </header>
    <div class="container">
    <%= yield %>
    </div>
    <footer>
    </footer>
  </body>
</html>
